body{
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
}

.container{
    width: 100%;
    max-width: 460px;
    background-color: rgb(255, 255, 255);
    margin: 100px auto;
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 10px 12px black;
}

input{
    border-radius: 8px;
    height: 30px;
    font-size: 20px;
    padding: 4px;
    background-color: #ececec;
    margin: 10px;
    border: none;
    width: 100%;
    max-width: 200px;
}

h4, h5{

    width: 100%;
    font-size: 20px;
    border-radius: 8px;
    background-color: #dedede;
    height: 30px;
    position: relative;
    margin: 15px -20px;
    padding: 14px;
    align-items: center;
}

h5{
    background-color: #0fae79;
    color: white;
    font-size: 25px;
    align-items: center;
    padding: 25px;
}

label{
    font-family: 'Poppins', sans-serif !important;
    font-size: 20px;
}
